<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Libros</title>
</head>
<body>
    <form action= "" method= "post"> {% csrf_token %}
        <p> Título: <input type = "text" name= "titulo">
        <p> Autor: <input type = "text" name= "autor">
        <p> Género: <input type = "text" name= "genero">
        <p> Sinopsis: <input type = "text" name= "sinopsis">

        <input type = "submit" value= "Enviar">
    </form>
   
</body>
</html>